@import './variables.scss';
@import './main-menu.scss';


.storm-header {
    display: block;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0rem 0rem .625rem 0rem rgba(0, 0, 0, 0.4);

    &__row {
        width: 100%;
    }

    &__row-first {
        background-color: $color-darkGrey;
    }

    &__container {
        max-width: $content-width;
        padding: .375rem 1.25rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__left {
        justify-content: flex-start;

        & .storm-header__contact-link {
            &:last-child {
                @include tablet {
                    display: none;
                }
            }

            &:nth-child(2) {
                @include mobile-rotate {
                    display: none;
                }
            }
        }
    }

    &__right {
        justify-content: flex-end;
        flex-grow: 1;
    }

    &__contact-link {
        display: inline-flex;
        align-items: center;
        gap: .5rem;

        & .storm-header__icon {
            color: $color-white;
            transition: all 0.3s;

            &,
            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        & .storm-header__text {
            color: $color-white;
            font-family: $font-text;
            font-size: 1rem;
            transition: all 0.3s;
        }

        &:hover {

            .storm-header__icon,
            .storm-header__text {
                color: $color-yellow;
            }
        }
    }

    &__logo-link {
        font-size: 2rem;
        font-weight: 700;
    }
}