@import './variables.scss';
//@import './fonts.scss';
@import './header.scss';

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include desktop {
        font-size: 15px;
    }

    @include laptop {
        font-size: 14px;
    }

    @include tablet {
        font-size: 13px;
    }

    @include mobile {
        font-size: 12px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-text;
    cursor: default;
}

main {
    flex: 1 1 auto;
}

a {
    cursor: pointer;
}

p {
    font-size: 1rem;
}