@font-face {
    font-family: "Beer Money";
    font-display: swap;
    src: url("/fonts/beer_money.svg") format("svg"),
        url("/fonts/beer_money.ttf") format("ttf"),
        url("/fonts/beer_money.woff2") format("woff2");
    font-weight: 300;
}